<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
<div>
<!--   <mat-form-field>
  <input matInput [(ngModel)]="name" placeholder="What's your favorite color?">
</mat-form-field>
</div>
<div>
<button mat-raised-button (click)="openDialog()">Pick one</button>
</div>
<h4 *ngIf="color">
You selected: <p style="font-weight: bold">{{color}}</p>
</h4> -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->