 
 <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon class="hurt material-icons">favorite</mat-icon>
    </button>
		
  <mat-menu x-position="before" #menu="matMenu">
    <p class="empty" *ngIf="wishItems.length == 0">Empty</p> 
    <section mat-menu-item *ngFor="let item of getShortList(wishItems); let i = index">
    <img [src]="item.iconpath" alt="">
    <p>{{item.label}} {{item.model}}</p>
	  </section>
  <button *ngIf = "wishItems.length != 0" mat-button [routerLink]="['/wishlist']">В вишлист</button><br>
  </mat-menu>
