nav {
	display: flex;
	color: white;
	background-color: grey;
	

}

a {
	position: center;
	padding: 10px 10px;
}	
.main {
	border-right: 1px solid black;

}
section {

	position: relative;
	left: 65%;
}

i {
	width: 20px;
	height: 20px;
	position: center;
	padding: 10px 10px;
	font-size: 36px;
}
.text {
	text-align: left;
}

app-wishmenu {
	display: inline;
	position: relative;
	left: 61%;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/